:root {
  --main-font: Spoqa Han Sans Neo;
  --font-color: #000
}

.title1 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 100%;
}

.title2 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 100%;
}

.title3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
}

.title4 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}

.search-list__title {
  font-family: var(--main-font);
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  word-break: break-all;
}

.search-list__distance {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--gray);
  font-weight: 500;
  line-height: 200%;
}

.search-list__address {
  font-family: var(--main-font);
  font-size: 14px;
  color: #B5B5C0;
  font-weight: 500;
}

.search-list__info {
  margin-top: 8px;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--emphasis);
  font-weight: 500;
  line-height: 100%;
}

.description {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: var(--gray);
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: var(--link);
}